<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner.png") %>);">
  <div class="container">
    <h1>Faça o <strong>número 2</strong><br/>
      como se estivesse em <strong>casa</strong>!</h1>
    <%= link_to "Ver estabelecimentos", establishments_path, class: "btn btn-ghost-yellow" %>
  </div>
</div>
<div class="container">
  <div id="outerdiv" class="mt-1 mb-1">
    <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
