.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  width: 500px;
  height: 250px;
  background: #fff;
  display: flex;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // margin: 30px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.card_left {
  width: 40%;
  height: 250px;
  float: left;
  overflow: hidden;
  background: transparent;
}

.card_left img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
  // -webkit-border-radius: 10px 0 0 10px;
  // -moz-border-radius: 10px 0 0 10px;
  position: relative;
  object-fit: cover;
}

.card_right {
  width: 60%;
  float: left;
  background: #4e1f00;
  height: 250px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}

.card_right h4 {
  color: white;
  font-family: "Post No Bills Jaffna", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
}

.card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}

.card_right__details li {
  display: inline;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 10px 0 0;
}

.card_right__location p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_right__location a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}

.card_right__button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}

.card_right__button a {
  color: #ffda00;
  text-decoration: none;
  font-family: "Post No Bills Jaffna", sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url("waze.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.card_right__button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url("waze.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

// .card_right__rating {
//       &__stars {
//         position: relative;
//         right: 160px;
//         margin: 10px 0 10px 0;
//         fieldset,
//         label {
//           margin: 0;
//           padding: 0;
//         }
//         .rating {
//           border: none;
//         }

//         .rating > input {
//           display: none;
//         }
//         .rating > label:before {
//           margin: 5px;
//           font-size: 1.25em;
//           display: inline-block;
//           content: "\f005";
//           font-family: FontAwesome;
//         }

//         .rating > .half:before {
//           content: "\f089";
//           position: absolute;
//         }

//         .rating > label {
//           color: #ddd;
//           float: right;
//         }

//         /***** CSS Magic to Highlight Stars on Hover *****/

//         .rating > input:checked ~ label, /* show gold star when clicked */
// .rating:not(:checked) > label:hover, /* hover current star */
// .rating:not(:checked) > label:hover ~ label {
//           color: #ffd700;
//         } /* hover previous stars in list */

//         .rating > input:checked + label:hover, /* hover current star when changing rating */
// .rating > input:checked ~ label:hover,
// .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
// .rating > input:checked ~ label:hover ~ label {
//           color: #ffed85;
//         }
//       }
//     }
