.navbar-lewagon {
  justify-content: space-between;
  background: #5C2601;
  color: #fafafa;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #FFE235;
}

.nav-link a {
  color: #FFE235;
  opacity: 0.5;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 30px;
}

.nav-link a:hover {
  opacity: 1;
  cursor: pointer;
}
