.navbar-lewagon {
  justify-content: space-between;
  background: #5C2601;
  color: #fafafa
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #FFE235;
}

.nav-link a {
  color: #FFE235;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.nav-link a:hover {
  opacity: 1;
}
